{{!-- <h2> Bienvenido a TORII! </h2> --}}

{{#if session.isAuthenticated}}
  {{outlet}}
<h1>Bienvenido a mi Página{{session.currentUser.displayName}}</h1>
<br>
<button {{action 'signOut'}}>Cerrar sesión</button> <br>
<img src="{{session.currentUser.photoURL}}"> <br>

{{else}}
  <h2>Bienvenid@s</h2>
  

<h1 class="redesSociales">Redes Sociales</h1>

  <ul class="redesSociales">
    <li class="facebook"><a {{action 'singIn' 'facebook'}}> </a></li>
    <li class="github"><a {{action 'singIn' 'github'}}> </a></li>
    <li class="twitter"><a {{action 'singIn' 'twitter'}}> </a></li>
    <li class="google"><a {{action 'singIn' 'google'}}> </a></li>
  </ul> 
{{/if}}


{{outlet}}
